.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  margin: 2rem 0rem 0rem;
  display: grid;
  grid-template-columns: 5% 45% 45% 5%;
  grid-template-areas:
      ". title title ."
      ". subtitle subtitle ."
      ". card-l card-r .";
  grid-row-gap: 30px;
}

.title {
  grid-area: title;
}

.subtitle {
  grid-area: subtitle;
  text-align: left;
}

.card-l {
  grid-area: card-l;
  margin: 0.5em;
  outline: 1px solid gray;
}

.card-r {
  grid-area: card-r;
  margin: 0.5em;
  outline: 1px solid gray;
}

@media only screen and (max-width: 768px){
  .container {
    grid-template-areas:
    ". title title ."
    ". subtitle subtitle ."
    ". card-l card-l ."
    ". card-r card-r .";
  }
}