.container {
    margin: 2rem 0rem 0rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "tm tm"
        "temp hr"
        "sd sd"
        "hdy acc";
    grid-row-gap: 30px;
}

.card {
    margin: 1rem 2rem 1rem;
    padding: 1rem;
    border: 0rem;
    font-size: 1.2rem;
}

.time {
    grid-area: tm;
    background-color: red;
}

.temperature {
    grid-area: temp;
    background-color: blue;
}

.heartrate {
    grid-area: hr;
    background-color: green;
}

.humidity {
    grid-area: hdy;
    background-color: purple;
}

.sound {
    grid-area: sd;
    background-color: yellow;
}

.acceleration {
    grid-area: acc;
    background-color: orange;
}